<%- include('header'); -%>
        <main class="bg-danger-subtle">
            <br>
            <br>
            <div class="container-fluid bg-danger col-md-4  text-center py-1 text-white rounded">
                <h4 class="display-12">Welcome to your Luka's Account System!</h4>
            </div>
            <br>
            <div class="container-fluid bg-dark-subtle col-md-10 rounded">
                <p>Welcome to the account system I created using Express JS!</p>
                <p>This website was created with the following Node libraries!</p>
                <ul>
                    <li>Express</li>
                    <li>Express-Session</li>
                    <li>Bcrypt</li>
                    <li>SQLite3</li>
                    <li>Nodemailer</li>
                </ul>
                <p><strong>Express</strong> was used for operations in the website's backend such as hosting the website locally as well as serving pages.
                <strong>Express-Session</strong> was used for maintaining the user's login!
                <strong>Bcrypt</strong> was used for encrypting the user's password within the database!
                <strong>SQLite3</strong> was used to create and store data within a database!
                <strong>Nodemailer</strong> was used to send a welcoming email!
                <p>Click one of the below options to test out my website!</p>
                <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
                <a href="/signup"><button type="button" class="btn btn-primary">Sign up</button></a>
                <br>
                <br>
            </div>
            <br>
            <br>
            <br>
        </main>
<%- include('footer'); -%>