<%- include('headerindex'); -%>
        <main class="bg-danger-subtle">
            <br>
            <br>
            <div class="container-fluid bg-danger col-md-4  text-center py-1 text-white rounded">
                <h4 class="display-12">Welcome to the final stage of your journey!</h4>
            </div>
            <br>
            <div class="container-fluid bg-dark-subtle col-md-10 rounded">
                <p class="text-center"><strong>Stage 4 - The End</strong></p>
                <p class="text-center">I hope you enjoyed the journey!</p>
            </div>
            <br>
            <br>
            <div class="container-fluid bg-dark-subtle col-md-10 rounded">
                <p class="text-center"><strong>Thanks for tagging along</strong></p>
                <p>This concludes our journey through the inner-workings of this website!</p>
                <p>I hope you enjoyed learning about how I utilised express-session, bcrypt and nodemailer in order to create additional features for the website!</p>
                <p>You will have gained 40 points by following this through to the end. Wondering what points are? They're just a variable assocaited with the user that I increased by 10 for each page load in this journey. Users start with 500 though so it's not too much!</p>
                <p>I hope you have a great day!</p>
                <br>
                <strong><p class="text-center"><a href="/profile">Return to Profile!</a></p></strong>
            </div>
            <br>
            <br>
            <br>
        </main>
<%- include('footer'); -%>