<%- include('header'); -%>
<main>
    <br>
    <br>
  <div class="container">
        <h3><%= title %></h3>
        <br>
        <p>
            Thank you <strong><%= inputusername %></strong> for signing up. Your account was successfully created!
        </p>
        <p>
        <p>
            <a href="/login">Click here to login</a>
        </p>
  </div>
</main>
<%- include('footer'); -%>
